section.final-project {
  flex-wrap: wrap;
}

.final-project-images {
  align-self: flex-start;
  position: relative;
  height: 100%;
  width: 60%;

  img {
    position: absolute;
    width: 80%;
    &:nth-child(2) {
      bottom: 0px;
      z-index: -1;
      transform: rotate(11deg);
      left: 400px;
      width: 70%;
    }
    &:nth-child(3) {
      bottom: 10px;
      left: 30px;
      transform: rotate(-11deg);
      z-index: -2;
      width: 60%;
    }
  }
}
.final-project-dashboard {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  border: 10px solid white;
  bottom: -40px;
  box-shadow: 1px 4px 24px -6px #353535;
  height: 33vw;
  left: 30px;
  list-style: none;
  margin: 5px;
  overflow: hidden;
  position: relative;;
  width: 95%;
  z-index: 10;
  .item-info .headline {
    margin-top: 15%;
  }
  .item-image {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: auto;
      height: 100%;
      position: static;
    }
  }
}
.final-project-info {
  height: 100%;
  padding: 3% 5%;
  width: 40%;
}

@include media(desktop){
  .final-project-images .final-project-dashboard {
    left: 10px;
  }
  .final-project-info {
    padding: 3% 3%;
  }
}
@include media(tablet){
  .final-project {
    flex-direction: column-reverse;
    justify-content: space-between;
    .final-project-info {
      width: 80%;
      height: 50%;
    }
    .final-project-images {
      height: 30%;
      width: 90%;
      align-self: center;
    }
    .final-project-dashboard {
      height: 170%;
      bottom: 160px;
    }
    img:nth-child(n+2) {
      display: none;
    }
  }
}
@include media(largeMobile) {
  .final-project .final-project-dashboard {
    height: 130%;
  }
}
@include media(mobile) {
  section.final-project {
    height: 150vh;
  }
  .final-project .final-project-images {
    width: 90%;
    .final-project-dashboard {
      left: 0px;
      height: 100%;
      bottom: 20px;
    }

  }
}
