h1, h3, h4, p {
  cursor: default;
}

h3 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}

.item-info {
  font-family: 'Montserrat', sans-serif;
}
.final-project-info h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: #8c8c8c;
  margin-bottom: 1em;
  span {
    font-style: italic;
  }
}
.final-project-info h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #8c8c8c;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.final-project-info p {
  color: #929292;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 3%;
}
