header {
  position: fixed;
  z-index: 100;
  nav {
    align-items: center;
    width: 100vw;
    height: 130px;
    background-color: $darkgrey;
    display: flex;
    justify-content: space-around;
    a {
      width: 20%;
      text-align: center;
      font-family: 'Heebo', sans-serif;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      &:hover {
        color: $gold;
      }
      &.egg {
        display: none;
        cursor: default;
        div {
          cursor: pointer;
        }
      }
    }
  }
}
svg {
  fill: white;
  height: 80px;
  width: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.gold {
  transform: rotate(360deg);
  -moz-webkit-transform: rotate(360deg);
  -ms-webkit-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  fill: $gold;
}
