.portfolio {
	background-color: #dedede;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  .portfolio-wrapper {
    display: flex;
    height: 100%;
    height: 80%;
    justify-content: space-around;
    padding-top: 5%;
    width: 100%;
    width: 90%;
  }
	.portfolio-header {
		width: 90%;
		height: 2px;
		background: #c7c7c7;
		border-bottom: #e4e4e4 solid 1px;
		h3 {
			background: #dedede;
			bottom: 10px;
			color: #666666;
			margin: auto;
			padding: 0px;
			position: relative;
			text-transform: uppercase;
			width: 300px;
		}
	}
	.item {
		align-items: center;
		background-color: white;
		border-radius: 3px;
		border: 10px solid white;
		box-shadow: 0px 1px 15px -5px #a2a2a2;
		list-style: none;
		margin: 5px;
		position: relative;
		overflow: hidden;
		height: 30vw;
		width: 25vw;
		&:hover {
			box-shadow: 0px 1px 15px -5px #121212;
		}
		.item-image img {
			height: 100%;
		}
		&:last-of-type .item-image {
			left: -80%;
		}
	}
}
.item-hover,
.item-hover .mask,
.item-image,
.item-info {
	height: 100%;
	width: 100%;
}
.item-hover,
.item-hover .mask,
.item-image {
	position: absolute;
	top: 0;
	left: 0;
}
.item-hover {
	z-index: 10;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity: 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	text-align: center;
	width: 100%;
	height: 100%;
	&:hover {
		opacity: 1;
		.line {
			width: 50%;
		}
	}
	.item-info {
		align-items: center;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		vertical-align: middle;
		z-index: 5;
	}
	.headline {
		margin-top: 40%;
	}
	.line {
		height:1px;
		width:0%;
		margin:15px auto;
		background-color:#ffffff;
	 -webkit-transition: all 500ms ease-out;
	 -moz-transition: all 500ms ease-out;
	 -o-transition: all 500ms ease-out;
	 transition: all 500ms ease-out;
	}
	.github {
		background-image: url("/images/github.svg");
		width: 50px;
		height: 50px;
		background-size: contain;
		background-repeat: no-repeat;
		margin: auto;
	}
	.mask {
		background-color: #000;
		opacity: 0.5;
		z-index: 0;
	}
}

@include media(desktop) {
	section:nth-child(3) {
		height: 70%;
		.item .item-hover .headline {
			margin-top: 20%;
		}
	}
}
@include media(smallTablet) {
	section:nth-child(3) {
		height: 180%;
		.portfolio-wrapper {
			flex-direction: column;
			align-items: center;
			height: 90%;
			.item {
				width: 70vw;
				height: 100%;
				margin: 10px;
				.item-hover .headline {
					margin-top: 15%;
				}
				&:nth-of-type(1) {
					img {
						width: 100%;
						height: auto;
					}
				}
				&:nth-of-type(2) {
					img {
						height: 100%;
						width: auto;
					}
				}
				&:nth-of-type(3) {
					.item-image {
						left: 0%;
					}
					img {
						height: 100%;
						width: auto;
					}
				}
			}
		}
	}
}
@include media (largeMobile) {
	.item img {
		width: auto;
		height: 100%;
	}
}
@include media (mobile) {
	section:nth-child(3) {
		.portfolio-wrapper .item {
			width: 90vw;
			&:nth-of-type(3) {
				.item-image {
					left: -40%;
				}
			}
		}
	}
}
