@import "partials/reset";
@import "partials/variables";
@import "partials/fonts";
@import "partials/header";
@import "partials/nav";
@import "partials/about-me";
@import "partials/final-project";
@import "partials/portfolio";
@import "partials/contact";

section {
  align-items: center;
  color: #EFEFEF;
  display: flex;
  text-align: center;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}
