@import "partials/header";
@import "partials/about-me";
@import "partials/portfolio";
@import "partials/contact";

*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
}
